#whole-page {
  width: 100%;
  position: relative;
}

#app-entrance {
  background-image: url('../images/cute-wallpaper-200921142328121024x768.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-text {
  top: 50%;
  left: 50%;
  text-align: center;
  color: white;
}

.app-name {
  font-size: 4rem;
}

.start-button {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  font-family: 'Architects Daughter', cursive;
  color: #d4ecf3;
  background-color: transparent;
  border: solid 2px #52b2cf;
  cursor: pointer;
  border-radius: 1rem;
  transition-duration: 0.5s;
}

.start-button:hover {
  transform: scale(1.2);
  background-color: #f5fbfc;
  color: #05789c;
}

header {
  background-color: #fbf7f4;
  color: #0d7ed0;
  width: 100%;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}

body {
  background-color: #fbf7f4;
  font-family: 'Comfortaa', cursive;
}

.view-page {
  padding-top: 0.75rem;
}

.drop-button {
  background-color: white;
  color: #05789c;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 5px;
  border: 2px solid #05789c;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 0.75rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fcffff;
  min-width: 180px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 10px;
}

.drop-down-tag {
  color: #05789c;
  font-weight: 500;
  padding: 0.5rem 0.5rem;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  display: block;
}

.drop-down-tag:hover { background-color: #ddd; }

.dropdown:hover .dropdown-content { display: block; }

.dropdown:hover .drop-button {
  background-color: #05789c;
  border: none;
  color: white;
}

.sub-tag-holder {
  display: none;
}

.exit-app {
  width: 80px;
}

.tab-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px #93a9f6 solid;
  border-left: 1px #93a9f6 solid;
  border-right: 1px #93a9f6 solid;
  background-color: white;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.view-tag,
.category-group,
.note-show-all {
  cursor: pointer;
}

#dash-board {
  padding-top: 0.5rem;
}

.app-title {
  font-weight: bolder;
  font-size: 2rem;
  display: inline-block;
  color: #0d7ed0;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.sub-tag {
  margin-left: 0.75rem;
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: underline;
  color: #05789c;
  font-family: 'Poppins', sans-serif;
}

.app-main {
  background-color: white;
  min-height: calc(100vh - 67px);
}

.main-dashboard {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 0;
  justify-content: center;
}

.hero-control {
  padding-top: 3rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-bottom: 1rem;
}

.reminder-brief-row {
  display: flex;
  margin-top: 1.75rem;
  justify-content: space-between;
  align-items: center;
}

.detail {
  font-family: 'Poppins', sans-serif;
  border: none;
  background-color: white;
  color: #05789c;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 0.5rem;
}

.app-intro {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.75rem;
  background-image: url('../images/Northern-Golden-Retriever-Red-Golden-Puppies.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}

.app-slogan {
  font-family: 'Architects Daughter', cursive;
  color: #274c77;
  font-size: 3rem;
}

.intro-box {
  border: 1px #ade8f4 solid;
  border-radius: 5px;
  padding: 1.25rem 0.75rem;
  text-align: center;
  color: #caf0f8;
  transition-duration: 0.5s;
}

.intro-box:hover {
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.6);
  color: #0096c7;
  border: none;
}

.reminder-display {
  border: solid 2px #05789c;
  border-radius: 5px;
  width: 100%;
  height: 35px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.75);
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
}

.button-row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2.5rem;
}

.hero-block,
.profile-block {
  padding: 1rem;
  background-color: #eaf7ff;
  border-radius: 2%;
  box-shadow: 2px 5px 16px 0 #0b325e, 5px -8px 2px -13px rgba(0, 0, 0, 0);
}

.pic-holder {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.note-pic-holder {
  width: 100%;
}

.color-button-holder,
.color-button-holder-note {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  padding-right: 1.5rem;
}

.color-button {
  width: 16px;
  height: 16px;
  margin-right: 1rem;
  padding: 0;
  background-color: #05789c;
  border: none;
  border-radius: 8px;
  transition-duration: 0.5s;
}

.exit-button {
  font-size: 1rem;
  font-weight: 500;
  color: #05789c;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  border: none;
  transition-duration: 0.5s;
}

.color-button:hover,
.exit-button:hover {
  transform: scale(1.2);
}

.color-one {
  background-color: #fae0e4;
}

.color-two {
  background-color: #dbe7e4;
}

.color-three {
  background-color: #fff1e6;
}

.color-four {
  background-color: #eae4e9;
}

.color-five {
  background-color: #eaf7ff;
}

.pic-holder > img,
.note-pic-holder > img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 5%;
  transition-duration: 0.5s;
}

.pic-holder > img:hover,
.note-pic-holder > img:hover {
  transform: scale(1.05);
}

.view-screen {
  padding-top: 0.75rem;
}

.section-title {
  color: #05789c;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Poppins', sans-serif;
}

.section-title-holder {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-bottom: 2rem;
  margin-left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cae9ff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.75);
}

.search-button-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: url('../images/light-background-1.jpeg');
  background-size: cover;
}

.function-comment {
  font-family: 'Architects Daughter', cursive;
  color: #3f88c5;
}

.span-comment {
  font-size: 1.2rem;
}

.reminder-content {
  cursor: pointer;
  margin: auto 0;
  width: 300px;
}

.button-left {
  display: flex;
  margin-left: 1.5rem;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

#search-entry {
  display: flex;
  align-items: center;
  margin: 0.75rem;
  padding-right: 1.5rem;
}

#key-word {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
  height: 30px;
  width: 100px;
  border: 2px solid #05789c;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition-duration: 0.5s;
}

#key-word:focus {
  width: 100%;
}

.search-button {
  background-color: #05789c;
  width: 30px;
  height: 30px;
  text-align: center;
  border: none;
  color: white;
  margin-left: 0.75rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

label,
input,
textarea,
select {
  display: block;
  width: 100%;
}

label {
  font-weight: bold;
}

input,
textarea,
select {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  background-color: #fcfcfc;
  border: solid 2px #05789c;
  border-radius: 5px;
  width: 100%;
  height: 30px;
  margin-top: 0.75rem;
  padding-left: 0.75rem;
}

textarea {
  padding-top: 0.75rem;
  height: 200px;
}

#priority,
#category {
  margin-top: auto;
  margin-bottom: auto;
}

.pic-button {
  width: 80px;
  height: 30px;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid #05789c;
  color: #05789c;
  background-color: white;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-right: 1rem;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.75);
  transition-duration: 0.5s;
}

.menu-button {
  width: 180px;
}

.menu-button:hover {
  background-color: #00b4d8;
  color: white;
}

.set-background {
  width: 150px;
}

.delete-button {
  width: 30px;
  height: 30px;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid #05789c;
  color: #05789c;
  background-color: white;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-right: 1rem;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.75);
}

.opButton {
  width: 40px;
  height: 30px;
  font-size: 0.5rem;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #00b4d8;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-right: 1rem;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.75);
}

.pic-button:hover {
  transform: scale(1.1);
}

.delete-button:hover {
  background-color: #05789c;
  color: white;
}

.op-clicked {
  background-color: #05789c;
}

.clicked {
  background-color: #eaf6f9;
}

.save-button-holder {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.75rem;
  margin-top: 0.75rem;
}

.one-pic {
  margin: 1.75rem auto;
}

.more-pic {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.list-group {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.modal-holder {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.delete-block {
  background-image: url('../images/z1pqW-1560822158-139274-blog-puppy.jpeg');
  filter: grayscale(30%);
  background-size: cover;
  border-radius: 0.5rem;
  padding: 5rem;
  border: none;
  text-align: center;
}

.reminder-block {
  background-color: white;
  border-radius: 10px;
  padding: 5rem;
  border: none;
  text-align: center;
}

.reminder-detail {
  color: #184e77;
  font-size: 1rem;
}

.delete-message {
  margin-top: 0.25rem;
  font-weight: 500;
  color: #f28482;
  font-size: 2rem;
  font-family: 'Architects Daughter', cursive;
  transition-duration: 0.5s;
}

.delete-message:hover {
  color: #ff0a54;
  transform: scale(1.2);
}

.button-holder {
  display: flex;
  justify-content: space-between;
}

.cancel,
.note-cancel {
  color: #caf0f8;
  border: solid 1px #caf0f8;
  background-color: transparent;
}

.confirm,
.note-confirm {
  background-color: transparent;
  color: #ef233c;
  border: solid 1px #ef233c;
}

.cancel:hover,
.note-cancel:hover {
  background-color: #caf0f8;
  color: #006d77;
  transform: scale(1.2);
}

.confirm:hover,
.note-confirm:hover {
  background-color: #fec5bb;
  transform: scale(1.2);
}

.reminder-submit-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data-log {
  padding-top: 1rem;
}

.note-entry {
  display: flex;
  flex-wrap: wrap;
}

.select-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 0;
}

.select-label {
  display: inline-block;
}

.submit-action {
  display: flex;
  justify-content: flex-end;
}

.game-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.25rem;
  padding: 0.5rem;
  border: 2px solid #cae9ff;
  border-radius: 10px;
}

.timer-row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0.75rem;
}

.timer-button {
  width: 25px;
  height: 25px;
  border: none;
  color: #274c77;
  background-color: white;
  cursor: pointer;
  align-items: center;
}

.game-title {
  font-family: 'Architects Daughter', cursive;
  margin: 0.75rem auto;
  color: #274c77;
  font-weight: bolder;
  text-align: center;
  font-size: 2.5rem;
}

.answer-text {
  font-family: 'Architects Daughter', cursive;
  color: #274c77;
  font-weight: bolder;
  font-size: 1.75rem;
}

#ready-button {
  font-family: 'Architects Daughter', cursive;
  border: 2px solid #6096ba;
  color: #6096ba;
  width: 200px;
  height: 45px;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.75rem;
}

#ready-button:hover {
  color: white;
  background-color: #6096ba;
}

.answer-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.75rem;
  height: 50px;
}

.answer-box {
  width: 150px;
  border: none;
  border-bottom: 2px solid #274c77;
  margin: 0.75rem 0.5rem;
  background-color: white;
}

.explain-text {
  font-family: 'Architects Daughter', cursive;
  color: #3f88c5;
  margin: 0.25rem 0;
  font-size: 1rem;
}

.game-submit {
  font-family: 'Architects Daughter', cursive;
  border: 2px solid #6096ba;
  color: #6096ba;
  width: 80px;
  height: 40px;
  font-size: 1.5rem;
}

.play-again {
  font-family: 'Architects Daughter', cursive;
  border: 2px solid #ffa69e;
  color: #ffa69e;
  width: 150px;
  height: 40px;
  font-size: 1.5rem;
}

.game-message {
  color: #ee4266;
  transform: rotate(-10deg);
}

.record-holder {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.record-text {
  font-family: 'Architects Daughter', cursive;
  color: #274c77;
  margin: 0 0.5rem;
  line-height: 30px;
}

.record-section {
  margin-left: 0.75rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.breed-button {
  padding: 0.25rem 0.25rem;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid #05789c;
  color: #05789c;
  background-color: white;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-right: 1rem;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.75);
  transition-duration: 0.5s;
}

.show-all-row {
  display: flex;
  align-items: center;
  margin-top: 1.75rem;
}

.record-show-all,
.note-show-all {
  font-size: 1rem;
  color: #d66853;
  margin: 0 0.75rem;
  text-decoration: underline;
  transition-duration: 0.5s;
  padding-top: 0.5rem;
}

.breed-button:hover,
.record-show-all:hover,
.note-show-all:hover {
  transform: scale(1.2);
}

.reminder-row {
  display: flex;
  justify-content: space-between;
  margin-top: 0.75rem;
}

.note-dashboard {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.75rem 0;
}

.reminder-category {
  display: inline;
  font-size: 0.8rem;
  width: 110px;
  margin-left: 0.5rem;
}

.reminder-holder {
  display: flex;
  align-items: center;
}

.line-breaker {
  height: 4px;
  background-color: #cae9ff;
  border-width: 0;
  margin: 1.75rem 0;
}

.note-title {
  font-family: 'Architects Daughter', cursive;
  color: #274c77;
  margin: 0.75rem 0;
}

.edit-button {
  border: none;
  background-color: white;
  color: #05789c;
  margin-right: 0.5rem;
  transition-duration: 0.5s;
  cursor: pointer;
}

.edit-button:hover {
  transform: scale(1.2);
}

.top-priority {
  color: #db3a34;
}

.high-priority {
  color: #d1495b;
}

.priority {
  color: #f0a6ca;
}

.routine {
  color: #007ea7;
}

.deferral {
  color: #7c98b3;
}

.note-row {
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem 0;
}

.category-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.75rem 0;
}

.category-group {
  width: 130px;
  padding: 0.25rem 0.5rem;
  background-color: #007ea7;
  color: white;
  margin: 0;
  font-size: 0.7rem;
  border-radius: 5px;
  text-align: center;
}

.category-button {
  display: flex;
  justify-content: flex-end;
}

.set-profile-pic {
  width: 100px;
}

.note-content {
  border: solid 2px #007ea7;
  height: 200px;
  margin: 1.25rem 0;
  border-radius: 10px;
  padding: 1rem;
}

.note-section {
  padding: 0.75rem 0.75rem;
}

/* loader here  */

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.game-spinner {
  position: absolute;
  left: 40%;
  top: 40%;
}

.search-spinner {
  position: fixed;
  top: 50%;
  left: 45%;
  z-index: 1;
}

.lds-dual-ring::after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.pd-l-75 {
  padding-left: 0.75rem;
}

.pd-t-75 {
  padding-top: 0.75rem;
}

.mg-l-75 {
  margin-left: 0.75rem;
}

.mg-l-1 {
  margin-left: 1rem;
}

.mg-b-125 {
  margin-bottom: 1.25rem;
}

.mg-t-125 {
  margin-top: 1.25rem;
}

.align-center {
  align-items: center;
}

.align-centent {
  align-content: center;
}

.text-center {
  text-align: center;
}

.space-between {
  justify-content: space-between;
}

.no-show {
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .pic-holder > img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
  }

  #two,
  #hero-image,
  #entry,
  #record-pic,
  #note-pic,
  #profile-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
  }

  .note-dashboard,
  .main-dashboard {
    padding-left: 0.75rem;
  }

  .reminder-content {
    width: 350px;
  }

  #game-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
  }

  #three {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 3px;
  }
}

@media screen and (max-width: 768px) {
  #search-entry {
    display: flex;
    align-items: center;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    margin-bottom: 0.75rem;
  }
}

@media screen and (max-width: 520px) {
  .section-title {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1280px) {
  #two,
  #hero-image,
  #entry,
  #record-pic,
  #note-pic,
  #profile-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
  }

  .dropdown {
    display: none;
  }

  .sub-tag-holder {
    display: inline-flex;
  }

  .hero-control {
    padding-top: 5rem;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  .reminder-brief-row {
    margin-top: 2.25rem;
  }

  .note-dashboard,
  .main-dashboard {
    padding-left: 1.5rem;
  }

  .note-section {
    padding: 0.75rem 1.25rem;
  }

  .reminder-display {
    text-align: center;
  }

  .reminder-content {
    width: 500px;
  }

  .note-content {
    height: 300px;
  }

  .reminder-row {
    margin-top: 1.75rem;
  }

  #three {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
  }
}
